beehive_s3_smoke_kit/n8n_beehive_s3_pointer_smoke_workflow.json
{
  "name": "Beehive S3 Pointer Smoke Adapter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "beehive-s3-pointer-smoke",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "webhook-smoke",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nfunction pick(name) {\n  const variants = [name, name.toLowerCase(), name.toUpperCase()];\n  for (const key of variants) {\n    if (headers[key] !== undefined && headers[key] !== null && String(headers[key]).trim() !== '') {\n      return String(headers[key]).trim();\n    }\n  }\n  return '';\n}\n\nconst workspaceId = pick('X-Beehive-Workspace-Id');\nconst runId = pick('X-Beehive-Run-Id');\nconst stageId = pick('X-Beehive-Stage-Id');\nconst sourceBucket = pick('X-Beehive-Source-Bucket');\nconst sourceKey = pick('X-Beehive-Source-Key');\nconst sourceVersionId = pick('X-Beehive-Source-Version-Id') || null;\nconst sourceEtag = pick('X-Beehive-Source-Etag') || null;\nconst manifestPrefix = pick('X-Beehive-Manifest-Prefix') || `beehive-smoke/test_workflow/runs/${runId}/`;\n\nfor (const [label, value] of Object.entries({ workspaceId, runId, stageId, sourceBucket, sourceKey })) {\n  if (!value) throw new Error(`Missing required Beehive header: ${label}`);\n}\n\nconst workspacePrefix = manifestPrefix.includes('/runs/')\n  ? manifestPrefix.split('/runs/')[0].replace(/\\/+$/, '')\n  : 'beehive-smoke/test_workflow';\nconst targetPrefix = `${workspacePrefix}/processed`;\n\nreturn [{\n  json: {\n    workspace_id: workspaceId,\n    run_id: runId,\n    stage_id: stageId,\n    source_bucket: sourceBucket,\n    source_key: sourceKey,\n    source_version_id: sourceVersionId,\n    source_etag: sourceEtag,\n    manifest_prefix: manifestPrefix,\n    workspace_prefix: workspacePrefix,\n    target_prefix: targetPrefix,\n    save_path: targetPrefix\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "id": "read-headers",
      "name": "Read Beehive headers"
    },
    {
      "parameters": {
        "bucketName": "={{ $json.source_bucket }}",
        "fileKey": "={{ $json.source_key }}"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        520,
        0
      ],
      "id": "download-source",
      "name": "Download source object"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "source_json",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        780,
        0
      ],
      "id": "extract-json",
      "name": "Extract JSON"
    },
    {
      "parameters": {
        "jsCode": "const pointer = $('Read Beehive headers').first().json;\nconst source = $json.source_json || $json.json || $json;\n\nconst sourceEntityId = source.entity_id || source.tag_id || `smoke_entity_${pointer.run_id}`;\nconst sourceArtifactId = source.artifact_id || pointer.source_key.split('/').pop().replace(/\\.json$/i, '');\nconst compactRun = pointer.run_id.replace(/[^a-zA-Z0-9]/g, '').slice(0, 16);\nconst outputArtifactId = `smoke_output_${compactRun}_${sourceArtifactId}`.slice(0, 180);\nconst outputKey = `${pointer.target_prefix}/${outputArtifactId}.json`;\n\nconst canonical = source.canonical_tag_ru || source.raw_article?.canonical_tag_ru || source.tag_id || sourceEntityId;\nconst output = {\n  schema: 'beehive.s3_smoke_output.v1',\n  smoke_status: 'ok',\n  created_at: new Date().toISOString(),\n  beehive_run_id: pointer.run_id,\n  source: {\n    bucket: pointer.source_bucket,\n    key: pointer.source_key,\n    version_id: pointer.source_version_id,\n    etag: pointer.source_etag,\n    entity_id: sourceEntityId,\n    artifact_id: sourceArtifactId\n  },\n  entity_id: sourceEntityId,\n  artifact_id: outputArtifactId,\n  canonical_tag_ru: canonical,\n  entity_type: source.entity_type || source.raw_article?.entity_type || null,\n  preview_blocks: source.preview_blocks || []\n};\n\nconst manifest = {\n  schema: 'beehive.s3_artifact_manifest.v1',\n  workspace_id: pointer.workspace_id,\n  run_id: pointer.run_id,\n  source: {\n    bucket: pointer.source_bucket,\n    key: pointer.source_key,\n    version_id: pointer.source_version_id,\n    etag: pointer.source_etag\n  },\n  status: 'success',\n  outputs: [\n    {\n      artifact_id: outputArtifactId,\n      entity_id: sourceEntityId,\n      relation_to_source: 'same_entity',\n      bucket: pointer.source_bucket,\n      key: outputKey,\n      save_path: pointer.save_path,\n      content_type: 'application/json',\n      checksum_sha256: null,\n      size: Buffer.byteLength(JSON.stringify(output), 'utf8')\n    }\n  ],\n  created_at: new Date().toISOString()\n};\n\nconst data = await this.helpers.prepareBinaryData(\n  Buffer.from(JSON.stringify(output, null, 2), 'utf8'),\n  `${outputArtifactId}.json`,\n  'application/json'\n);\n\nreturn [{\n  json: {\n    ...pointer,\n    output_bucket: pointer.source_bucket,\n    output_key: outputKey,\n    output_artifact_id: outputArtifactId,\n    output_entity_id: sourceEntityId,\n    manifest\n  },\n  binary: { data }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "prepare-output",
      "name": "Prepare smoke output JSON"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $json.output_bucket }}",
        "fileKey": "={{ $json.output_key }}",
        "fileName": "={{ $json.output_key }}",
        "binaryPropertyName": "data",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1300,
        0
      ],
      "id": "upload-output",
      "name": "Upload smoke output"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Prepare smoke output JSON').first().json.manifest }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        0
      ],
      "id": "return-manifest",
      "name": "Return manifest"
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1820,
        0
      ],
      "id": "respond",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Beehive headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Beehive headers": {
      "main": [
        [
          {
            "node": "Download source object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download source object": {
      "main": [
        [
          {
            "node": "Extract JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON": {
      "main": [
        [
          {
            "node": "Prepare smoke output JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare smoke output JSON": {
      "main": [
        [
          {
            "node": "Upload smoke output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload smoke output": {
      "main": [
        [
          {
            "node": "Return manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return manifest": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-beehive-workspace-id": "beehive-s3-smoke",
            "x-beehive-run-id": "manual-test-run",
            "x-beehive-stage-id": "smoke_source",
            "x-beehive-source-bucket": "steos-s3-data",
            "x-beehive-source-key": "beehive-smoke/test_workflow/raw/smoke_entity_001.json",
            "x-beehive-manifest-prefix": "beehive-smoke/test_workflow/runs/manual-test-run/"
          }
        }
      }
    ]
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}